//
// Created by prplecake on 1/15/24.
//

#ifndef ESP32_CREDENTIALS_H
#define ESP32_CREDENTIALS_H

#define WIFI_SSID "SSID"
#define WIFI_PASS "PASSWORD"
// #define WIFI_HOSTNAME "HOSTNAME"

#endif //ESP32_CREDENTIALS_H
